<%= link_to "Retour au jeu", game_steps_path(@game), class: 'btn btn-default' %>

<div class="page-header">
  <%= link_to new_game_step_device_path(game_id: @game.id, step_id: @step.id), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Ajouter un Sensit
  <% end %>
  <h1>Les Sensits de l'énigme "<%= @step.name %>"</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Capteur</th>
            <th>ID de l'appareil</th>
            <th>État du capteur</th>
            <th>Capteur actif</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <td><%= device.sensor_id %></td>
          <td><%= device.device_id %></td>
          <td><%= device.is_ok ? "OK" : "KO" %></td>
          <td><%= device.sensor_type %></td>
          <td><%= link_to 'Modifier', edit_game_step_device_path(game_id: @game.id, step_id: @step.id, id: device.id) %></td>
          <td><%= link_to 'Supprimer', game_step_device_path(game_id: @game.id, step_id: @step.id, id: device.id), method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
