<%= form_for(@game, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @game.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@game.errors.count, "error") %> prohibited this step from being saved:</h4>

          <ul>
            <% @game.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label "Nom", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, id: :game_name, class: "form-control", placeholder: 'Le nom de votre jeu' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 text-right">
        <%= link_to 'Retour aux parties', games_path, class: 'btn btn-default' %>
        <button type="submit" class="btn btn-primary">Créer l'étape</button>
      </div>
    </div>
<% end %>
