<p id="notice"><%= notice %></p>

<h1>Mes parties</h1>
<% @games.each do |game| %>
  <div class="panel panel-default">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow=<%= game.total_steps_success %> aria-valuemin="0" aria-valuemax=<%= game.total_steps %> style=<%= "width:#{game.success_percentage}%" %>>
    </div>
    </div>
    <div class="panel-body">
      <h3 class="panel-title"><%= game.name %></h3>
    </div>
    <div class="panel-footer">
      <div class="left">
        <%= link_to '', game_start_path(game), :class => "btn glyphicon glyphicon-triangle-right", remote: true, method: :post %>
      </div>
      <div class="text-right">
        <%= link_to 'Reset', game_reset_url(game), method: :post %>
        <%= link_to '', game, :class => "glyphicon glyphicon-search" %>
        <%= link_to '', edit_game_path(game), :class => "glyphicon glyphicon-pencil" %>
        <%= link_to '', game, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-remove" %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'New Game', new_game_path %>
