<div class="page-header">
  <%= link_to new_game_step_path(game_id: @game.id), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Ajouter une étape
  <% end %>
  <h1>Liste des étapes de <%= @game.name %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Terminée</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @steps.each do |step| %>
      <tr>
        <td><%= step.name %></td>
        <td><%= step.finished %></td>
        <td><%= link_to 'Voir', game_step_path(@game, step) %></td>
        <td><%= link_to 'Gérer les devices', game_step_devices_path(@game, step) %></td>
        <td><%= link_to 'Editer', edit_game_step_path(@game, step) %></td>
        <td><%= link_to 'Supprimer', game_step_path(@game, step), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to games_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
<% end %>
